/*-------------------------------------------- 
Tool Button Black CSS
--------------------------------------------*/
QToolButton {
    color: #6fab80;
    background: transparent;
    border: 0px solid transparent;
    border-radius: 0px;
    padding: 10px;
}
QToolButton:checked {
    border-right: 3px solid #4fdd9f;
}
QToolButton:pressed, QToolButton:hover:pressed, QToolButton:checked {
    color: #4fdd9f;
    background: #1e472b;
}
QToolButton:hover:!checked {
    color: #73b788;
    background: #254e31;
}
QToolButton:disabled {
    color: rgba(111, 171, 128, 20%);
}
