/*--------------------------------------------
Button Blue CSS
--------------------------------------------*/
QPushButton {
    color: white; 
    background: #57d4b1;
    border: none;
    border-radius: 12px;
    min-width: 5em;
    padding: 6px;
    margin: 0px;
}
QPushButton:hover{
    background: #6ce2c1;
}
QPushButton:pressed {
    background: #02e09c;
    color: #a4f0d1;
}
QPushButton::disabled {
    color: rgba(255, 255, 255, 40%);
    background: rgba(87, 212, 177, 60%);
}
