/*--------------------------------------------
Button Blue CSS
--------------------------------------------*/
QPushButton {
    color: white; 
    background: #57c46a;
    border: none;
    border-radius: 12px;
    min-width: 5em;
    padding: 6px;
    margin: 0px;
}
QPushButton:hover{
    background: #6ce2c1;
}
QPushButton:pressed {
    background: #00aa3a;
    color: #a4e5b0;
}
QPushButton::disabled {
    color: rgba(255, 255, 255, 40%);
    background: rgba(87, 212, 177, 60%);
}
